* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.top-header,
.nav_links,
ul,
li {
  display: flex;
}

.nav_links {
  justify-content: space-around;
  width: 500px;
  border: 5px solid red;
}

a {
  color: #000;
  text-decoration: none;
  list-style: none;
  font-size: 26px;
  font-weight: 700;
  align-items: center;
}

a:hover {
  color: #555;
}

.a-link {
  padding-left: 10px;
}

.dots {
  width: 130px;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
}

.logo {
  margin-left: 30px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  align-items: center;
}

.line {
  border-right: 2px solid #000;
}

.top-header,
.book-list {
  border: 2px solid #000;
  width: 100%;
}

.top-header {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* .date-time {
  font-size: 20px;
  color: #000;
}

.datetime {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: flex-end;
} */

.container {
  border: 2px solid #000;
  margin: 0.7rem 0.4rem 0 0.4rem;
}

.display-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  width: 100%;
  margin: 0;
}

.display-div:nth-child(odd) {
  background-color: lightgray;
}

h2 {
  font-size: 38px;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2::before {
  display: block;
  position: relative;
  margin-bottom: 40px;
  content: " ";
  background-color: #000;
  height: 5px;
  width: 20%;
  top: 20%;
  left: 40%;
}

input {
  font-size: 20px;
  padding: 0 0.3rem;
  border: 3px solid #000;
}

input::placeholder {
  color: #555;
  font-size: 18px;
  font-weight: bold;
}

.add--btn {
  font-size: 22px;
  font-weight: bold;
  text-align: end;
  border: 2px solid #000;
  padding: 0 0.3rem;
  box-shadow: 2px 2px 5px 3px #000;
  transform: translateX(6.5rem);
}

.rmBtn {
  font-size: 22px;
  font-weight: bold;
  text-align: end;
  border: 2px solid #000;
  padding: 0 0.3rem;
  box-shadow: 2px 2px 5px 3px #000;
}
